/* add home page styles here */
#fruits {
    display: flex;
    flex-wrap: wrap;

}
#fruits li {
    width: 100px;
    height: 200px;
    border: 1px solid gray;
    padding: 10px;
    margin-right: 10px;
}

#fruits li h3{
    font-size: 1.2rem;
    font-weight: bold;
}

#fruits li img {
    width: 50%;
}

a {
    color: red;
    text-decoration: none;
    font-size: 2rem;
}
a:hover{
    color: blue;
    font-weight: bold;
}